.inputForm {
  display: flex;
  flex-direction: column;

  .radios {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }

  .label {
    display: flex;
    flex: 1;

    .input {
      flex: 1;
      margin-left: 10px;
    }
  }
}
