.app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  h3 {
    color: #943851;
  }
  h4 {
    color: #d7816a;
  }

  .buttons {
    display: flex;
    align-items: flex-end;
  }

  .button {
    background-color: #3f6578;
    color: #fff;
    border: none;
    padding: 10px;
    text-decoration: none;
    font: 400 13px Arial;

    &.log-in {
      margin-bottom: 1px;
      margin-right: 5px;
    }

    &.sign-in {
      margin-bottom: 1px;
      background-color: #fff;
      border-color: #3f6578;
      color: #3f6578;
    }
  }

  .button:hover {
    background-color: #324e5c;

    &.sign-in {
      background-color: #fff;
      border-color: #324e5c;
      color: #324e5c;
    }
  }

  .button:active {
    background-color: #263c47;

    &.sign-in {
      background-color: #fff;
      border-color: #263c47;
      color: #263c47;
    }
  }

  .navbar {
    display: flex;
    border-bottom: 1px solid #3f6578;
    background-color: #fff;
    position: sticky;
    top: 0;

    .navigation {
      flex: 1;
      display: flex;
      align-items: flex-end;

      .link {
        padding: 10px;
        text-decoration: none;
        color: #3f6578;
      }

      .active {
        background-color: #3f6578;
        color: #fff;
      }
    }

    .authorization {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      align-items: center;

      .avatar {
        width: 30px;
        border: 1px solid #ddedaa;
        border-radius: 50%;
      }
      .user-name {
        margin: 0 10px;
        font-weight: 100;
      }
    }
  }

  .movies {
    .movie-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .movie-item {
        display: flex;
        margin-bottom: 10px;

        .title {
          margin-top: 0;
        }

        .poster {
          height: 150px;
          margin-right: 10px;
        }
      }
    }
  }

  .my-component {
    border: 1px dashed #3f6578;
    margin-bottom: 10px;
    padding: 10px;

    h4 {
      margin-top: 0;
    }

    .extra-props {
      background-color: #ddedaa;
      color: #d7816a;
    }
  }
}
